<script setup>
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
  <header class="container">
    <h1>CSGO AGS</h1>
  </header>

  <RouterView />
</template>
