@import './base.css';

.container{
  margin: 20px auto;
  width: 94%;
  max-width: 1600px;
}

.player-card{
  margin: 30px auto;
}

.player-card h3{
  font-weight: bold;
  font-size: 1.5em;
}

.player-card p{
  font-size: 18px;
}

.slashline{
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
}

.text-red{
  color: #990000;
}

.text-green{
  color: #009900;
}

.text-orange{
  color: #c97600;
}

.text-gold{
  color: #e0c53f;
}