<script>
  import ScoreBug from '../components/ScoreBug.vue'

  export default{
    components: {ScoreBug},
    data(){
      return{
        reportingPlayers: {},
        matchData: {},
        playerData: [],
        updateTimer: null,
      }
    },
    mounted(){
      console.log("The component mounted.");
      
      this.updateTimer = setInterval(async () => {
        this.getData();
      }, 3000);
    },
    beforeDestroy(){
      clearInterval(this.updateTimer);
      console.log("Component was destroyed.");
    },
    methods: {
      getData: async function(){
        const apiData = await fetch("http://127.0.0.1:3192/data");
        let gameData = await apiData.json();

        console.log(gameData);
 
        if(gameData.match !== 'idle' && gameData.players !== false){
          this.matchData = gameData.match;
          
          //Empty out the playerData and rebuild it as an array we can iterate over in the page.
          this.playerData = [];
          for(const sid in gameData.players){
            this.playerData.push(gameData.players[sid]);

            if(!this.reportingPlayers.hasOwnProperty(gameData.players[sid]['observed_by'])){
              this.reportingPlayers[gameData.players[sid]['observed_by']] = false;
            }
          }
        }
      },
      toggleObserver: function(steamid, bool){
        if(bool){
          this.reportingPlayers[steamid] = false;
        }else{
          this.reportingPlayers[steamid] = true;
        }
      }
    }
  }
</script>

<template>
  <main class="container">
    <h1 v-if="Object.keys(matchData).length === 0">No Match Data Yet</h1>
    
    <h1>Display Data From:</h1>
    <p>The app is capable of reporting observed game state data from multiple players reporting to the server.</p>
    <p>Toogle which ones you'd like to display data from.</p>
    <div class="beacon_players">
      <div class="beacon_player" v-for="(value, steamid, index) in reportingPlayers">
        <input type="checkbox" :checked="value" @click="toggleObserver(steamid,value)">
        <span>{{steamid}}</span>
      </div>
    </div>

      <!--
    <ScoreBug v-if="matchData && Object.keys(matchData).length > 0" :ct_score="matchData.score_ct" :t_score="matchData.score_t" />

    <div v-if="Object.keys(matchData).length >= 1">
      <h1>Match Data:</h1>
      <p>{{matchData.mode}} Match on {{matchData.map}}</p>
      <p>Current Round: {{matchData.round}}</p>

      <div v-if="playerData.length >= 1">
        <h1>Player Info:</h1>

        
        <div v-for="player in playerData" class="player-card">
          <h3>{{player.name}} - {{player.team}}</h3>
          <p>
            <span class="slashline text-green">Kills: {{player.match_stats.kills}}</span>
            <span class="slashline text-red">Deaths: {{player.match_stats.deaths}}</span>
            <span class="slashline text-orange">Assists: {{player.match_stats.assists}}</span>
            <span class="slashline text-gold">MVPs: {{player.match_stats.mvps}}</span>
            <span class="slashline">Score: {{player.match_stats.score}}</span>
          </p>
          <p>
            <span class="slashline text-red">HP: {{player.state.health}}</span>
            <span class="slashline text-orange">Armor: {{player.state.armor}}</span>
            <span class="slashline text-green">Cash: {{player.state.money}}</span>
          </p>
        </div>
      
      </div>
    </div>
  -->
  </main>
</template>
