<script>
  export default{
    props: {
      t_score: {score: 0, consecutive_round_losses: 0},
      ct_score: {score: 0, consecutive_round_losses: 0}
    },
    data(){
      return{
        round_payouts:{
          0: 3250,
          1: 1400,
          2: 1900,
          3: 2400,
          4: 2900,
          5: 3400
        },
        ct_payout: 0,
        t_paysout: 0,
      }
    },
    updated(){
      this.ct_payout = this.round_payouts[this.calcPayout(this.ct_score.consecutive_round_losses)];
      this.t_payout = this.round_payouts[this.calcPayout(this.t_score.consecutive_round_losses)];
    },
    methods: {
      calcPayout: function(round_run){
        if(round_run >= 5){
          return 5
        }

        return round_run;
      }
    }
  }
</script>

<template>
  <div class="score_block" v-if="Object.keys(t_score).length > 0 && Object.keys(ct_score).length">
    <div class="team">
      <div class="score t">
        <p class="team_title">Terrorist</p>
        <p class="score_val">{{t_score.score}}</p>
        <p>Run: {{t_score.consecutive_round_losses}}</p>
        <p>Min Payout: ${{this.t_payout}}</p>
      </div>
    </div>

    <div class="team">
      <div class="score ct">
        <p class="team_title">Counter-Terrorist</p>
        <p class="score_val">{{ct_score.score}}</p>
        <p>Run: {{ct_score.consecutive_round_losses}}</p>
        <p>Min Payout: ${{this.ct_payout}}</p>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .score_block{
    filter: drop-shadow(10px 10px 5px #000);
    border-radius: 4px;
    color: #ffffff;
    background-color: #111827;
    overflow-y: auto;
  }

  .score_block *{
    font-size: 18px;
  }

  .team{
    width: 46%;
    padding: 2%;
  }

  .team p{
    text-align: center;
  }

  .team_title{
    font-size: 24px;
    font-weight: bold;
  }

  .score_val{
    font-size: 32px;
    font-weight: bold;
  }

  .team:nth-child(odd){
    float: left;
  }

  .team:nth-child(even){
    float: right;
  }
</style>
